@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./css/satoshi.css");
@import url("./css/gambetta.css");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0e0e0e;
  font-family: "Satoshi-Variable", sans-serif;
  font-variation-settings: "wght" 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}
